* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --gray:#6B7280;
  --dark:#374151;
  --darker:#1F2937;
  --darkest:#111827;
  --light:#EEE;
  --pink:#EC4899;
  --purple:#8B5Cf6;
  --purple-glow: 0 0 4px rgba(138, 92, 246, 0.75);
  --b-radius:15px;
}

body {
  background-color: var(--dark);
  color: var(--gray);
  font-family: "Montserrat", sans-serif;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .date {
  text-align: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 20px;
  font-size: 30px;
}
header .timer {
  text-align: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
header .timer__count {
  padding: 15px;
  font-size: 30px;
}
header .timer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .timer__buttons button {
  background-color: var(--darkest);
  color: var(--light);
  padding: 10px;
  font-size: 15px;
  width: 30%;
  border-radius: var(--b-radius);
}

.create-category {
  margin: 15px 0 0 0;
}
.create-category #new-category-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.create-category #new-category-form #new-category-input {
  color: var(--gray);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  background-color: var(--darker);
  padding: 15px 15px 15px 25px;
  margin-right: 10px;
  border-radius: var(--b-radius);
  font-size: 18px;
}
.create-category #new-category-form #new-category-submit {
  font-size: 17px;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--pink)), to(var(--purple)));
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.create-category #new-category-form #new-category-submit:hover {
  opacity: 0.8;
}
.create-category #new-category-form #new-category-submit:active {
  opacity: 0.6;
}

main {
  margin: 15px 0 0 0;
  border-radius: var(--b-radius);
  padding: 10px;
}
main details {
  margin: 7px 0 7px 0px;
  background-color: var(--darker);
  border-radius: var(--b-radius);
}
main details summary {
  background-color: var(--darkest);
  border-radius: var(--b-radius);
  display: block;
}
main details summary .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main details summary .list .todo-content {
  cursor: pointer;
}
main details summary .list .todo-content input {
  font-size: 25px;
}
main details summary .list .actions button {
  font-size: 20px;
}
main details #new-exercise-form {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main details #new-exercise-form #new-exercise-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  background-color: var(--darkest);
  padding: 15px 15px 15px 25px;
  margin-right: 10px;
  border-radius: var(--b-radius);
  font-size: 18px;
  color: var(--gray);
}
main details #new-exercise-form #new-exercise-submit {
  font-size: 17px;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--pink)), to(var(--purple)));
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
main details #new-exercise-form #new-exercise-submit:hover {
  opacity: 0.8;
}
main details #new-exercise-form #new-exercise-submit:active {
  opacity: 0.6;
}
main details .ex__list {
  padding: 0 15px 0 15px;
  margin: 0 20px 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--darkest);
  border-radius: var(--b-radius);
}
main details .ex__list input:checked ~ .check::after {
  width: 11px;
  height: 11px;
  opacity: 1;
}
main details .ex__list .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--purple);
  -webkit-box-shadow: var(--purple-glow);
          box-shadow: var(--purple-glow);
}
main details .ex__list .check:after {
  content: "";
  width: 0;
  height: 0;
  opacity: 0;
  display: block;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: var(--purple);
  -webkit-box-shadow: var(--purple-glow);
          box-shadow: var(--purple-glow);
}
main details .ex__list .todo-content.done input {
  text-decoration: line-through;
  color: var(--gray);
}
main details .ex__list .todo-content input {
  font-size: 21px;
}
main details .ex__list .actions button {
  font-size: 17px;
}

.todo-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  padding: 20px;
}
.todo-content input {
  background-color: var(--darkest);
  color: var(--light);
  width: 30%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.todo-content input:not(:-moz-read-only) {
  color: var(--pink);
}
.todo-content input:not(:read-only) {
  color: var(--pink);
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.actions button {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 15px;
  background-color: var(--darkest);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.actions button:hover {
  opacity: 0.8;
}
.actions button:active {
  opacity: 0.6;
}
.actions .edit {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--pink)), to(var(--purple)));
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.actions .delete {
  color: crimson;
}