*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
:root{
	--gray:#6B7280;
	--dark:#374151;
	--darker:#1F2937;
	--darkest:#111827;
	--light:#EEE;
	--pink:#EC4899;
	--purple:#8B5Cf6;
	--purple-glow: 0 0 4px rgba(138, 92, 246, 0.75);
	--b-radius:15px;
}
body{
	background-color: var(--dark);
	color: var(--gray);
	font-family: 'Montserrat', sans-serif;

}
input[type="checkbox"],
input[type="radio"]{
	display: none;
}
.wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.date{
		text-align: center;
		flex-basis: 45%;
		padding: 20px;
		font-size: 30px;
	}
	.timer{
		text-align: center;
		flex-basis: 45%;
		&__count{
			padding:15px;
			font-size: 30px;
		}
		&__buttons{
			display: flex;
			justify-content: space-between;
			button{
				background-color: var(--darkest);
				color: var(--light);
				padding: 10px;
				font-size: 15px;
				width: 30%;
				border-radius: var(--b-radius);
			}
		}
	}

}
.create-category{
	margin: 15px 0 0 0;
	#new-category-form{
		display: flex;
		#new-category-input{
			color: var(--gray);
			flex:1 1 0%;
			background-color:var(--darker);
			padding: 15px 15px 15px 25px;
			margin-right: 10px;
			border-radius: var(--b-radius);
			font-size: 18px;
		}
		#new-category-submit{
			font-size: 17px;
			font-weight: 700;
			background-image: linear-gradient(to right, 
			var(--pink), var(--purple));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			cursor: pointer;
			transition: 0.5s;
			&:hover{
				opacity: 0.8;
			}
			&:active{
				opacity:0.6;
			}
		}
	}
}
main{
	margin: 15px 0 0 0;
	border-radius: var(--b-radius);
	padding: 10px;
	details{
		margin: 7px 0 7px 0px;
		background-color: var(--darker);
		border-radius: var(--b-radius);
		summary{
			background-color: var(--darkest);
			border-radius: var(--b-radius);
			display: block;
			.list{
				display: flex;
				.todo-content{
					display: flex;
					align-items: center;
					cursor: pointer; 	
					input{
						font-size: 25px;
					}
					&::before{
						content: '';
						width: 12px;
						height: 12px;
						margin-right: 9px;
						display: block;
						border-right:3px solid var(--gray);
						border-top:3px solid var(--gray);
						transform: rotate(45deg);
						transition: 0.25s;
					}	
				}
				.actions{
					button{
						font-size: 20px;
					}
				}
			}
		}
		&[open]{
			summary{
				.todo-content::before{
					transform: rotate(135deg);
				}
			}
		}
		#new-exercise-form{
			padding: 15px;
			display: flex;
			#new-exercise-input{
				flex:1 1 0%;
				background-color:var(--darkest);
				padding: 15px 15px 15px 25px;
				margin-right: 10px;
				border-radius: var(--b-radius);
				font-size: 18px;
				color: var(--gray);
			}
			#new-exercise-submit{
				font-size: 17px;
				font-weight: 700;
				background-image: linear-gradient(to right, 
				var(--pink), var(--purple));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				cursor: pointer;
				transition: 0.5s;
				&:hover{
					opacity: 0.8;
				}
				&:active{
					opacity:0.6;
				}
			}
		}
		.exercise{
			&.done{
				input{
					text-decoration: line-through;
					color: var(--gray);
				}
			}
			padding:0 15px 0 15px;
			margin:0 15px 10px 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--darkest);
			border-radius: var(--b-radius);
			input:checked ~ .check::after{
				width: 11px;
				height: 11px;
				opacity: 1;
			}
			.check{
				display: flex;
				border-radius: 50%;
				width: 21px;
				height: 21px;
				justify-content: center;
				align-items: center;
				border: 2px solid var(--purple);
				box-shadow: var(--purple-glow);
				&:after{
					content: '';
					width: 0;
					height: 0;
					opacity: 0;
					display: block;
					border-radius: 50%;
					transition: 0.2s ease-in-out;
					background-color: var(--purple);
					box-shadow: var(--purple-glow);
				}
			}
			.todo-content{
				input{
					font-size: 21px;
				}
				
			}
			.actions{
				button{
					font-size: 17px;
				}
				
			}
		}
	}
	
	
}
.todo-content{
	display: flex;
	padding: 20px;
	flex: 1 1 0%;
	input{
		flex: 0 1 50%;
		background-color: var(--darkest);
		color: var(--light);
		width:30%;
		transition: 0.4s;
		&:not(:read-only){
			color: var(--pink);
		}
	}
	#new-exercise-val{
		flex: 0 1 100%;
	}
}
.actions{
	display: flex;
	align-items: center;
	justify-content: space-between;
	button{
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 10px;
		background-color: var(--darkest);
		transition: 0.4s;
		cursor: pointer;
		&:hover{
			opacity: 0.8;
		}
		&:active{
			opacity:0.6;
		}
	}
	.edit{
		background-image: linear-gradient(to right, 
		var(--pink), var(--purple));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.delete{
		color: crimson;
	}
}
@media(max-width: 800px){
	header{
		.timer__buttons{
			button{
				font-size: 10px !important;
			}
			
		}
	}
	.todo-content{
		input{
			flex: 1 1 75%;
			font-size: 17px !important;
		}
		
	}
	.actions{
		button{
			font-size: 15px !important;
		}
	}
	.exercise{
		button{
			font-size: 13px !important;
			margin: 0 5px;
		}
		.todo-content{
				padding: 15px 10px 15px 10px;
		}
	}
	#new-category-submit{
		font-size: 12px!important;
	}
	
}